.login {
    text-justify: center;
    height: auto;
    background-color: cornflowerblue; 
    width: 50%;
    border: 4px  gray;
    padding: 20px;   
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border: solid 4px black;
    margin-top: 15%;
}
label {
    width:25%;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}
input,button {
    margin: 10px;
    width: auto;
    height: auto;
}
body{
    background-color: cornflowerblue;
}